DataFactoryMW1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataFactoryMW1"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"OurWorldInData_Corona_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true"
		},
		"Worldometers_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.worldometers.info/coronavirus/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "WebSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "#",
											"type": "String"
										},
										"sink": {
											"name": "#",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country, Other",
											"type": "String"
										},
										"sink": {
											"name": "Country_Other",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Cases",
											"type": "String"
										},
										"sink": {
											"name": "Total_Cases",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "New Cases",
											"type": "String"
										},
										"sink": {
											"name": "New_Cases",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Deaths",
											"type": "String"
										},
										"sink": {
											"name": "Total_Deaths",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "New Deaths",
											"type": "String"
										},
										"sink": {
											"name": "New_Deaths",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Recovered",
											"type": "String"
										},
										"sink": {
											"name": "Total_Recovered",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "New Recovered",
											"type": "String"
										},
										"sink": {
											"name": "New_Recovered",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Active Cases",
											"type": "String"
										},
										"sink": {
											"name": "Active_Cases",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Serious, Critical",
											"type": "String"
										},
										"sink": {
											"name": "Serious_Critical",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tot Cases/ 1M pop",
											"type": "String"
										},
										"sink": {
											"name": "Tot Cases_1M pop",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deaths/ 1M pop",
											"type": "String"
										},
										"sink": {
											"name": "Deaths_1M pop",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Tests",
											"type": "String"
										},
										"sink": {
											"name": "Total_Tests",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tests/ \n1M pop",
											"type": "String"
										},
										"sink": {
											"name": "Tests_1M pop",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Population",
											"type": "String"
										},
										"sink": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "WebTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Worldometers_target1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WebTable1')]",
				"[concat(variables('factoryId'), '/datasets/Worldometers_target1')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WebTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Worldometers",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "WebTable",
				"schema": [],
				"typeProperties": {
					"index": 0
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Worldometers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Worldometers_target1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "data1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "#",
						"type": "String"
					},
					{
						"name": "Country_Other",
						"type": "String"
					},
					{
						"name": "Total_Cases",
						"type": "String"
					},
					{
						"name": "New_Cases",
						"type": "String"
					},
					{
						"name": "Total_Deaths",
						"type": "String"
					},
					{
						"name": "New_Deaths",
						"type": "String"
					},
					{
						"name": "Total_Recovered",
						"type": "String"
					},
					{
						"name": "New_Recovered",
						"type": "String"
					},
					{
						"name": "Active_Cases",
						"type": "String"
					},
					{
						"name": "Serious_Critical",
						"type": "String"
					},
					{
						"name": "Tot Cases_1M pop",
						"type": "String"
					},
					{
						"name": "Deaths_1M pop",
						"type": "String"
					},
					{
						"name": "Total_Tests",
						"type": "String"
					},
					{
						"name": "Tests_1M pop",
						"type": "String"
					},
					{
						"name": "Population",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OurWorldInData_Corona')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Web",
				"typeProperties": {
					"url": "[parameters('OurWorldInData_Corona_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Worldometers')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Web",
				"typeProperties": {
					"url": "[parameters('Worldometers_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Worldometers_target1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Worldometers_target1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1"
						}
					],
					"script": "source(output(\n\t\t{#} as integer,\n\t\tCountry_Other as string,\n\t\tTotal_Cases as string,\n\t\tNew_Cases as string,\n\t\tTotal_Deaths as string,\n\t\tNew_Deaths as string,\n\t\tTotal_Recovered as string,\n\t\tNew_Recovered as string,\n\t\tActive_Cases as string,\n\t\tSerious_Critical as string,\n\t\t{Tot Cases_1M pop} as string,\n\t\t{Deaths_1M pop} as string,\n\t\tTotal_Tests as string,\n\t\t{Tests_1M pop} as string,\n\t\tPopulation as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> source1\nsource1 filter({#} >= 1) ~> Filter1\nFilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\t{#} as string,\n\t\tCountry_Other as string,\n\t\tTotal_Cases as string,\n\t\tNew_Cases as string,\n\t\tTotal_Deaths as string,\n\t\tNew_Deaths as string,\n\t\tTotal_Recovered as string,\n\t\tNew_Recovered as string,\n\t\tActive_Cases as string,\n\t\tSerious_Critical as string,\n\t\t{Tot Cases_1M pop} as string,\n\t\t{Deaths_1M pop} as string,\n\t\tTotal_Tests as string,\n\t\t{Tests_1M pop} as string,\n\t\tPopulation as string\n\t),\n\tfilePattern:(toString(currentTimestamp()) ),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Worldometers_target1')]"
			]
		}
	]
}